{% extends "index.html" %}

{% block content %}

<div class="row">
   <div class="col-lg-12 text-center">
       <h1 class="mt-5">Welcome ladies and gentlemen</h1>
       <p class="lead">Best films here!</p>
   </div>
   <div class="col-lg-12 mb-4">
    {% for type in list_of_types %}
    {% if list_name == type %}
    <a href="{{ url_for('homepage', list_name=type) }}" class="btn btn-outline-info active">{{ type.replace('_', ' ').title() }}</a>
    {% else %}
    <a href="{{ url_for('homepage', list_name=type) }}" class="btn btn-outline-info">{{ type.replace('_', ' ').title() }}</a>
    {% endif %}
    {% endfor %}
  </div>
   {% for movie in movies %}
   <div class="col-lg-3 col-md-6 mb-4">
       <div class="card h-100">
           <!-- <img class="card-img-top" src="http://placehold.it/300x500" alt=""> -->
           <img src="{{ tmdb_image_url(movie.poster_path, 'w780') }}">
           <div class="card-body">
               <h4 class="card-title">{{ movie.original_title }}</h4>
           </div>
           <div class="card-footer text-center">
            <a href="{{ url_for('movie_details', movie_id=movie.id) }}">Pokaż więcej</a>
           </div>
       </div>
   </div>
   {% endfor %}
</div>

{% endblock %}